<html>

    <head>
        <title>AlexRotorReyes' Profile</title>
        <link rel="stylesheet" href="./common/userprofile.css" />
    </head>

    <body class="background">
        <%- include('./header.ejs', {
            currentUser: loggedIn
        }); %>
        
            <div class="displayUserwFlex">
                <div class="displayUser">
                    <div>
                        <img class="dp" src="./imgs/<%= data.dp %>">
                        <div class="usernameProfile">
                            <%= data.user %>
                        </div>
                    </div>
                </div>
                <div class="userDescription">
                    <%= data.desc %>
                </div>
                <div class="userFeed">
                    
                    <!--This is for posts-->
                    <% for(var i=0;i<postData.length;i++){ %>
                        <% if(postData[i].user == data.user){%>
                            <%- include('./profilePosts', {
                                id: postData[i]._id,
                                title: postData[i].title,
                                desc: postData[i].desc,
                                likes: postData[i].likes
                            }); %>
                        <% } %>
                    <% } %>
                    
                    <!--This is for comments-->
                    <% for(var i=0;i<commentData.length;i++){ %>
                        <% if(commentData[i].user == data.user){%>
                            <%- include('./profileComments', {
                                user: commentData[i].user,
                                content: commentData[i].content,
                                parentPost: commentData[i].parentPost
                            }); %>
                        <% } %>
                    <% } %>
                    <div class="seeMore">
                        See More
                    </div>
                </div>
            </div>
        
    </body>

</html>